In [23]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
titanic=pd.read_csv("C:\\Users\\abhis\\Downloads\\train (2).csv")

In [3]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
titanic=titanic.drop(['PassengerId','Name','Cabin','Ticket'],axis=1)

In [7]:
titanic.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [8]:
X=titanic.drop('Survived',axis=1)
y=titanic['Survived']

In [9]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [12]:
X_train.head()

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
6         1    male  54.0      0      0  51.8625        S
718       3    male   NaN      0      0  15.5000        Q
685       2    male  25.0      1      2  41.5792        C
73        3    male  26.0      1      0  14.4542        C
882       3  female  22.0      0      0  10.5167        S

In [11]:
X_train.isnull().sum()

Pclass        0
Sex           0
Age         118
SibSp         0
Parch         0
Fare          0
Embarked      1
dtype: int64

As we can see that Column ['Age','Embarked'] as null value present in the dataset 

1.trf1 => Our First ColumnTransformer

In [13]:
trf1=ColumnTransformer([
    ('si_age',SimpleImputer(),[2]),
    ('si_embarked',SimpleImputer(strategy='most_frequent'),[6])
],remainder='passthrough')

Now we need to handle Catogerical values present in the ['Sex','Embarked'] Column Using OneHotEndcoding as it Nominal Encoding


2.trf2 => Our Second ColumnTransformer

In [14]:
trf2=ColumnTransformer([
    ('ohe_sex_embarked',OneHotEncoder(sparse=False,handle_unknown='ignore'),[1,6])
],remainder='passthrough')

Now we need to scale the column as each colum have different range 

3.trf3 => Our third ColumnTransformer

In [16]:
trf3=ColumnTransformer([
    ('scale',MinMaxScaler(),slice(0,10))
])

In [18]:
trf4=DecisionTreeClassifier()

# Creating A Pipline

In [19]:
pipe=make_pipeline(trf1,trf2,trf3,trf4)

In [21]:
from sklearn import set_config
set_config(display='diagram')

In [22]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer-1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('si_age', SimpleImputer(),
                                                  [2]),
                                                 ('si_embarked',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [6])])),
                ('columntransformer-2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe_sex_embarked',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  [1, 6])])),
                ('columntransformer-3',
                 ColumnTransformer(transformers=[('scale', MinMaxScaler(),
                                                  slice(0, 10, None))])),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

In [24]:
y_test_predict=pipe.predict(X_test)

In [25]:
accuracy_score(y_test,y_test_predict)

0.6033898305084746