In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv('train.csv',usecols=['FireplaceQu','GarageQual','SalePrice'])

In [5]:
df.head()

  FireplaceQu GarageQual  SalePrice
0         NaN         TA     208500
1          TA         TA     181500
2          TA         TA     223500
3          Gd         TA     140000
4          TA         TA     250000

In [7]:
df.isnull().mean()*100

FireplaceQu    47.260274
GarageQual      5.547945
SalePrice       0.000000
dtype: float64

In [8]:
X=df.drop('SalePrice',axis=1)
y=df['SalePrice']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [10]:
imputer=SimpleImputer(strategy='most_frequent')

In [11]:
imputer.fit(X_train)

SimpleImputer(strategy='most_frequent')

In [12]:
X_train=imputer.transform(X_train)
X_test=imputer.transform(X_test)

In [14]:
check=pd.DataFrame(X_train,columns=['FireplaceQu','GarageQual'])

In [16]:
check.head()

  FireplaceQu GarageQual
0          Gd         TA
1          Gd         TA
2          Gd         TA
3          Gd         TA
4          TA         TA

In [17]:
check.isnull().mean()*100

FireplaceQu    0.0
GarageQual     0.0
dtype: float64